@inherits LayoutComponentBase

<!-- add navbar -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container justify-content-start">
        <a class="navbar-brand text-white" href="#">Christmas Letter Manager</a>
        <NavLink class="nav-link text-white" href="letter-upload" Match="NavLinkMatch.Prefix">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Letter Upload
        </NavLink>
        <NavLink class="nav-link text-white" href="list" Match="NavLinkMatch.Prefix">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gifts' List
        </NavLink>
    </div>
</nav>

<div class="container mt-5">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
